language: php

php:
  - 5.2
  - 5.3
  - 5.4

env:
  # CakePHP and ExtJS and Sencha Touch versions are independent from each other
  - DB=mysql CAKEPHP_VERION=master EXTJS_VERSION=4.1.1a TOUCH_VERSION=2.0.1.1
  - DB=mysql CAKEPHP_VERION=2.2.0 EXTJS_VERSION=4.1.0
  #- DB=mysql CAKEPHP_VERION=2.1.5
  #- DB=mysql CAKEPHP_VERION=2.0.6
  #- DB=mysql CAKEPHP_VERION=2.0.0
  - DB=pgsql CAKEPHP_VERION=master EXTJS_VERSION=4.0.7
  - DB=sqlite CAKEPHP_VERION=master

branches:
  only:
    - master

before_script:
  # create the databases
  - sh -c "if [ '$DB' = 'mysql' ]; then mysql -e 'CREATE DATABASE bancha_test;'; fi"
  - sh -c "if [ '$DB' = 'pgsql' ]; then psql -c 'CREATE DATABASE bancha_test;' -U postgres; fi"
  - sh -c "if [ '$DB' = 'pgsql' ]; then psql -c 'CREATE SCHEMA bancha_test;' -U postgres -d bancha_test; fi"
  
  # Prepare the Bancha plugin
  - mkdir .Bancha # create hidden subdirectory (which is not moved by the mv command)
  - mv ./* .Bancha/ # copy everything (except the hidden directories) into the directory
  - mv .Bancha Bancha # unhide it for later use
  
  # Download cakephp
  - wget https://github.com/cakephp/cakephp/tarball/$CAKEPHP_VERION -O cake.tar.gz # get cakephp
  - tar xf cake.tar.gz # extract cakephp
  - mv cakephp-cakephp-* ./cakephp # move cakephp to its folder
  - chmod -R 777 ./cakephp/app/tmp # make tmp executable
  
  # Setup the TestProject for Bancha
  - rm -r ./cakephp/app #remove the default app
  - git clone --recursive https://github.com/Bancha/BanchaTestProject.git cakephp/app # clone Testproject as base
  
  # Setup the Bancha plugin
  - rm -r ./cakephp/app/Plugin/Bancha
  - mv ./Bancha ./cakephp/app/Plugin/ #move the Bancha Plugin to its destined directory
  - cd ./cakephp # move into the directory for execution
  
  # Used in the cake core tests, activate if a webserver is needed
  # - echo "var net = require('net');
  #  var server = net.createServer();
  #  server.listen(80, 'localhost');
  #  console.log('TCP server listening on port 80 at localhost.');" > app/tmp/socket.js
  #- sudo node ./app/tmp/socket.js &
  
  # Setup the database config
  - touch app/Config/database.php
  - set +H # needed for pasting the following config file
  - echo "<?php
    class DATABASE_CONFIG {
    private \$identities = array(
      'mysql' => array(
        'datasource' => 'Database/Mysql',
        'host' => '0.0.0.0',
        'login' => 'travis'
      ),
      'pgsql' => array(
        'datasource' => 'Database/Postgres',
        'host' => '127.0.0.1',
        'login' => 'postgres',
        'database' => 'bancha_test',
        'schema' => array(
          'default' => 'public',
          'test' => 'public',
        )
      ),
      'sqlite' => array(
        'datasource' => 'Database/Sqlite',
        'database' => array(
          'default' => ':memory:',
          'test' => ':memory:',
        ),
      )
    );
    public \$default = array(
      'persistent' => false,
      'host' => '',
      'login' => '',
      'password' => '',
      'database' => 'bancha_test',
      'prefix' => ''
    );
    public \$test = array(
      'persistent' => false,
      'host' => '',
      'login' => '',
      'password' => '',
      'database' => 'bancha_test',
      'prefix' => ''
    );
    public function __construct() {
      \$db = 'mysql';
      if (!empty(\$_SERVER['DB'])) {
        \$db = \$_SERVER['DB'];
      }
      foreach (array('default', 'test') as \$source) {
        \$config = array_merge(\$this->{\$source}, \$this->identities[\$db]);
        if (is_array(\$config['database'])) {
          \$config['database'] = \$config['database'][\$source];
        }
        if (!empty(\$config['schema']) && is_array(\$config['schema'])) {
          \$config['schema'] = \$config['schema'][\$source];
        }
        \$this->{\$source} = \$config;
      }
    }
    }" > app/Config/database.php #create database config file for cakephp

  # now prepare the jasmine tests
  - cd app/Plugin/Bancha/Test/JavaScriptUnitTest/lib
  - if [ $EXTJS_VERION ]; then wget http://cdn.sencha.io/ext-$EXTJS_VERSION-gpl/ext-all-debug-w-comments.js ; fi
  - if [ $TOUCH_VERSION ]; then wget http://cdn.sencha.io/touch/sencha-touch-$TOUCH_VERSION/sencha-touch-all-debug.js ; fi
  - cd ../../../../../../

  # Travis needs this stuff to start Phantom1.4...
  # When they get Phantom1.5 this section can go away
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

  # get pahntomjs for jasmine
  - "wget https://raw.github.com/mark-rushakoff/OpenPhantomScripts/master/phantom-jasmine.js"

script:
  - chmod a+x ./lib/Cake/Console/cake # make sure to execute it
  - ./lib/Cake/Console/cake test Bancha AllTests --stderr # execute all Tests

  # execute the jasmine tests
  - if [ $EXTJS_VERSION ]; then phantomjs phantom-jasmine.js app/Plugin/Bancha/Test/JavaScriptUnitTest/SpecRunner.html ; fi ## TODO find right HTML

notifications:
  email:
    recipients:
      - mail@banchaproject.org
